 {% load draw_menu %}

  <ul>
  {% for header in menu %}
    <li id="{{ header.url }}-{{ header.order }}"><a href="{{ header.get_absolute_url }}">{{ header }}</a></li>

    <script>
      if ('{{ request.path }}' == '/menu/{{ header.url }}/') {
        order = {{header.order}};
      }

      if ({{header.order}} > order + 1) {
        level = document.getElementById('{{ header.url }}-{{ header.order }}');
        level.setAttribute("hidden", true);
        }
    </script>

     {% if header.children.count > 0 %}
     {% draw_menu header %}
     {% endif %}

{% endfor %}
  </ul>
